a {
  color: blue;  
  text-decoration: none; 
  }

  a:hover {
  color: red;  
  text-decoration: none; 
  }

  body {
    background-color: beige;
    color: black;
    font-family: arial, Helvetica, sans-serif;
    text-align: center;
 }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    color: #075AAB;;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    color: #075AAB;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
.menu { font-style: italic; }

.navbar
{
    width: 905px;
    height: 32px;
    margin-top: 12px;
    border-radius: 8px;
    background-image: url(/images/longbar_middle.png); background-repeat: repeat-x;
}

.barlink
{
    padding: 0px 30px; font-family: arial; color: #FA9FD5; text-decoration: none; font-weight: bold; margin: 1px; font-size: 16px;
    margin-top: 5px;
    display: inline-block;
}
.barlink:visited
{
    color: #cfcfcf;
}

.barlink:hover
{
    color: #ffffff
}

.post { margin: 6px; text-align: justify; width: 600px; }
.post h2 { text-align: justify; margin: 0; }
.key
{
    padding: 0 2px;
    font-style: italic;
}
.menu { font-style: italic; }

.release-date, .forum-link { font-size: 10pt }
